# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~

# ignore eclipse files
.cproject
.project
.pydevproject

# ignore metadata folders
.metadata

#ignore md5
*.md5
